<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nouri: Dashboard</title>
  <style>
    body {
      max-width: 700px;
      margin: 0 auto;
    }
    h1, h2 {
      text-align: center;
    }
    form {
      max-width: 500px;
      margin: 10px auto;
    }
    fieldset {
      border: 0;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
    legend {
      font-weight: bold;
      text-transform: uppercase;
    }
    label {
      margin-top: 5px;
    }
    input:valid {
      color: green;
    }
    input:invalid {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Hi {{ fname }}</h1>
  <h2>You can update your information here:</h2>
  
  <form action="./family" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"></input>

    <fieldset>
      <legend>Contact Information</legend>

      <label for="fname">Parent/Guardian First Name</label>
      <input type="text" name="fname" value="{{ fname }}" pattern="^(?=.{1,40}$)[a-zA-Z]+(?:[-'\s][a-zA-Z]+)*$" required>
      <label for="lname">Parent/Guardian Last Name</label>
      <input type="text" name="lname" value="{{ lname }}" pattern="^(?=.{1,40}$)[a-zA-Z]+(?:[-'\s][a-zA-Z]+)*$" required>

      <label for="phone" pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}">Phone Number (Required by local food banks)</label>
      <input type="tel" name="phone" value="{{ phone }}" required placeholder="{{ phone }}" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" size="20">
    </fieldset>

    <fieldset>
      <legend>Delivery Information</legend>

      <label for="chapter">Chapter</label>
      <select name="chapter" id="">
        <option value="seattle-eastside">Seattle Eastside (Redmond, Kirkland, Woodinville, Bothell</option>
      </select>

      <label for="street1">Street Address</label>
      <input type="text" name="street1" value="{{ street1 }}" required>

      <label for="street2">Street Address line 2 (optional)</label>
      <input type="text" name="street2" value="{{ street2 }}">

      <label for="city">City</label>
      <select name="city" id="" required>
        <option value="Woodinville">Woodinville</option>
        <option value="Redmond">Redmond</option>
        <option value="Bothell">Bothell</option>
        <option value="Kirkland">Kirkland</option>
      </select>

      <label for="state">State</label>
      <select name="state" id="" required>
        <option value="WA">WA</option>
      </select>

      <label for="zip" pattern="[0-9]{5}">Zip Code</label>
      <input type="text" name="zip" value="{{ zip }}" required>

      <label for="delivery_notes">Special notes about delivery. Please include contact information if someone else is receiving your delivery (optional).</label>
      <textarea name="delivery_notes" id="" maxlength="500" cols="30" rows="10">{{ delivery_notes }}</textarea>
    </fieldset>

    <fieldset>
      <legend>Alias</legend>

      <label for="alias">Online community alias. If you are a victim of domestic abuse or wish to keep more anonymity in our online community, you may submit a different name in this field that you will use in our online community app.</label>
      <input type="text" name="alias" pattern="^[a-zA-Z0-9_-]*$" value="{{ alias }}">
    </fieldset>

    <fieldset>
      <legend>Family Information</legend>

      <label for="members">Family member names and ages (required by local food banks)</label>
      <textarea name="members" id="" cols="30" rows="10" maxlength="500" required>{{ members }}</textarea>

      <label for="member_count">Total number of members in your household (including you)</label>
      <input type="number" name="member_count" value="{{ member_count }}" required>

      <label for="kids_who_can_cook_count">How many kids do you have who are old enough to cook or learn how to cook?</label>
      <input type="number" name="kids_who_can_cook_count" value="{{ kids_who_can_cook_count }}" required>

      <label for="allergies_restrictions">Allergies or Food restrictions</label>
      <textarea name="allergies_restrictions" id="" cols="30" rows="10" maxlength="500">{{ allergies_restrictions }}</textarea>

      <label for="income">Your total household income per month (Required by Local Food banks)</label>
      <select name="income" id="" required>
        <option value="0-1500">$1,500 or less</option>
        <option value="1500-2500">$1,500 - $2,500</option>
        <option value="2500-4000">$2,500 - $4,000</option>
        <option value="4000-8000">Greater than $4,000</option>
      </select>
    </fieldset>

    <button type="submit">Submit</button>
  </form>
</body>
</html>