<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nouri App: Reset Password</title>
</head>
<body>
  <h1>Reset your password.</h1>
  <form action="./request" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"></input>
    <select name="chapter" id="">
      <option value="seattle-eastside">Seattle Eastside</option>
    </select>
    <input type="text" name="email">
    <button type="submit">Submit</button>
  </form>
</body>
</html>