<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <style>
    body {
      max-width: 700px;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
    form {
      max-width: 500px;
      margin: 10px auto;
    }
    fieldset {
      border: 0;
      display: flex;
      flex-direction: column;
      margin-top: 15px;
    }
    legend {
      font-weight: bold;
      text-transform: uppercase;
    }
    label {
      margin-top: 5px;
    }
    input:valid {
      color: green;
    }
    input:invalid {
      color: red;
    }
  </style>
</head>
<body>
  <h1>Sign Up</h1>

  <form action="./signup" method="POST">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"></input>

    <fieldset>
      <legend>Login Information</legend>
      <label for="email">Email</label>
      <input type="email" name="email" required>
      
      <p>For your password, please make sure you have the following</p>
      <ul>
        <li>At least two upper case letters.</li>
        <li>At least one special characters like !@#$&*</li>
        <li>At least two numbers.</li>
        <li>At least three lower case letters.</li>
        <li>At least 12 characters in total</li>
      </ul>
      <label for="password1">Password</label>
      <input type="password" name="password1" pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$%^&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{12,}$" required>
      <label for="password2">Confirm Your Password</label>
      <input type="password" name="password2" pattern="^(?=.*[A-Z].*[A-Z])(?=.*[!@#$&*])(?=.*[0-9].*[0-9])(?=.*[a-z].*[a-z].*[a-z]).{12,}$" required>
    </fieldset>

    <button type="submit">Submit</button>
  </form>
</body>
</html>